@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Popins-Bold';
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
  } 

@font-face {
  font-family: 'Popins-BoldItalic';
  src: url('./assets/fonts/Popins-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Popins-ExtraBold';
  src: url('./assets/fonts/Popins-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Popins-ExtraBoldItalic';
  src: url('./assets/fonts/Popins-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Popins-Italic';
  src: url('./assets/fonts/Popins-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Popins-Regular';
  src: url('./assets/fonts/Popins-Regular.ttf') format('truetype');
}